{{define "error/404"}}
{{template "template/head" .}}

<div class="ht-100v d-flex align-items-center justify-content-center">
    <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
        <h1 class="tx-100 tx-xs-140 tx-normal tx-inverse tx-roboto mg-b-0">404!</h1>
        <h5 class="tx-xs-24 tx-normal tx-info mg-b-30 lh-5">Halaman yang anda cari tidak ditemukan</h5>
        <p class="tx-16 mg-b-30">Halaman yang anda cari mungkin sudah dihapus, dirubah atau tidak tersedia</p>
        <button class="btn btn-info" onclick="window.history.go(-1)">Kembali</button>
    </div>
</div><!-- ht-100v -->

{{template "template/foot" .}}

{{end}}

